@model Laboratorio1.ArbolHuffman.FactoresViewModel

@{
    ViewBag.Title = "Read";
}

<h2>Archivo Comprimido Huffman</h2>

<div>
    <h4>Archivo descargado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TamañoOriginal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamañoOriginal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamañoComprimido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamañoComprimido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactorDeCompresion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactorDeCompresion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonDeCompresion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonDeCompresion)
        </dd>

    </dl>
</div>
